/* TODO BASE */
* {
  margin: 0;
  padding: 0;
  /* css3盒子模型 */
  box-sizing: border-box;
}
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}
button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  padding: 0px;
}
button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
  /* 默认有灰色边框我们需要手动去掉 */
  border: 0;
  outline: none;
}
body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  /* background-color: #fff; */
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
  color: #000;
}
view,
text {
  box-sizing: border-box;
}

/* TODO 鼠标小手 */
.link:hover {
  cursor: pointer;
}
.link {
  user-select: pointer;
}
.hide,
.none {
  display: none;
}
.eventN {
  pointer-events: none;
}

/* TODO 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* TODO 显示模式 */
.block {
  display: block !important;
}
.inBlock {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}
.flex {
  display: flex !important;
}

/* TODO flex */
.jc-between {
  justify-content: space-between;
}
.jc-around {
  justify-content: space-around;
}
.jc-evenly {
  justify-content: space-evenly;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.f-nowrap {
  flex-wrap: nowrap;
}
.f-column {
  flex-direction: column;
}

/* TODO 定位 */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.sticky {
  position: sticky;
}

/* TODO 文字排版 */
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}

/* TODO 文字首航缩进 */
.indent1 {
  text-indent: 1em;
}
.indent2 {
  text-indent: 2em;
}
.indent3 {
  text-indent: 3em;
}
.indent4 {
  text-indent: 4em;
}

/* TODO 文字溢出隐藏 */
.hidden1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 1em;
}
.hidden2 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 2em;
}
.hidden3 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  min-height: 3em;
}
.hidden4 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  min-height: 4em;
}
.hidden5 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  min-height: 5em;
}
.hidden6 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  min-height: 6em;
}
.hidden7 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  min-height: 7em;
}
.hidden8 {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  min-height: 8em;
}

/* TODO 文字样式 */
.underline {
  text-decoration: underline;
}
.overline {
  text-decoration: overline;
}
